.card {
  padding: 1rem 1.2rem;
  border: 1px solid black;
  .text {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
  .rotate::clicked {
    display: inline-block;
    transition: transform 200ms;
  }
  .heading {
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.6rem;
  }
}