@mixin container-base {
  padding: 0;
  margin: 0;
  border: $base-border;
  position: fixed;
}

.container, 
.container-col {  
  @include container-base;
  @extend .col;
  @extend .center;
}
.container-row {
   @include container-base;
   @extend .row;
   @extend .center;
}