.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: $desc-size;
  width: 100%;
  z-index: 2;
  font-family: $desc-font;
  &--text {
    @extend description;
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: $desc-text-bg;
    border: 1px solid $desc-text-border;
    border-radius: $desc-text-radius;
  }
  &--link {
    @extend description;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}