@import 'lib';


.navbar {
  @include col;
  height: 100%;
  width: 25%;
  align-items: center;
  border: 2px solid white;
  color: white;
}

.nav-list {
  @include col;
  @include big;
  align-items: center;
  border: 2px solid green;
  list-style-type: none;
}
.nav-list:nth-child(1) {
  margin-top: 20px;
}

.nav-link {
  @include col;
  @include center;
  @include wide;
  border: 2px solid white;
  color: white;
  height: 10%;
  margin-top: 2px;
  &:hover {
    cursor: pointer;
    background: $hover-link;
  }
  &:active {
    color: $active-link
  }
}

